@import url('https://fonts.cdnfonts.com/css/roboto');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #011827;
}

.header-container {
  width: 100vw;
  height: 144px;
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 128px;
  height: 82px;
  margin-top: 26px;
  margin-left: 27px;
  border: 6px;
  border-radius: 17px;
}

.header-title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  width: 78px;
  height: 84px;
  margin-left: 14px;
  margin-top: 25px;
}

.header-navbar {
  display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 22px;
  width: 60%;
}

.header-navbar a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.header-navbar a:hover {
  color: #8acfe5;
}

@media (min-width: 900px) {
  .header-title {
    font-size: 40px;
    width: fit-content;
    margin-top: 61px;
  }

  .header-navbar {
    display: flex;
  }
}

                                                /* -- MAIN -- */

/* -- SEC-HERO -- */
.container-hacker {
  width: 100%;
  height: 274px;
  background-image: url(media/hacker4x.png);
  background-size: cover;
}

@media (min-width: 750px) {
  .container-hacker {
    height: 352px;
    
  }
}
@media (min-width: 900px) {
  .container-hacker {
    height: 400px;
    background-image: url(media/hacker3x.png);
    
  }
}
@media (min-width: 1000px) {
  .container-hacker {
    height: 440px;
    background-image: url(media/hacker2x.png);
  }
}
@media (min-width: 1280px) {
  .container-hacker {
    height: 468px;
    background-image: url(media/hacker2x.png);
  }
}
@media (min-width: 1920px) {
  .container-hacker {
    height: 600px;
  }
}

.img-hacker {
  object-fit: cover;
}

/* -- SEC-BUTTONS -- */
.container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 67px;
}

.btn-online {
  display: none;
  justify-content: center;
  align-items: center;
  width: 308px;
  height: 66px;
  margin-right: 17px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: #e3170a;
  border-radius: 5px;
  border: none;
}

.btn-on-site {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 308px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  
  color: #011827;
  background-color: #8acfe5;
  border-radius: 5px;
  border: none;
}

.link-online {
  margin-top: 36px;
  font-weight: 700;
  font-size: 16px;
  color: #36769d;
}

@media (min-width: 900px) {
  .container-buttons {
    flex-direction: row;
    margin-top: -35px;
  }

  .btn-online {
    display: flex;
  }

  .link-online {
    display: none;
  }
}

/* -- SEC-QUOTES -- */
.cont-quotes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 105px;
}
.quote-one {
  display: flex;
}

.quote-two {
  display: none;
  justify-content: center;
}

.img-head {
  width: 72px;
  height: 72px;
  margin-left: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.cont-quotes-text {
  margin-right: 25px;
}

.quote-text {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

.quote-name {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .quote-one {
    width: 522px;
  }
}

@media (min-width: 900px) {
  .cont-quotes {
    max-height: 141px;
    justify-content: center;
    margin-top: 102px;
    margin-bottom: 102px;
  }

  .quote-one {
    width: 520px;
  }
  .quote-two {
    display: flex;
    width: 522px;
    margin-left: 30px;
  }
}

@media (min-width: 1078px) {
  .img-head {
    margin-left: 0px;
  }
}

/* -- SEC-SCROLLBAR -- */
.title-scrollbar {
  font-size: 32px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.scrollbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  height: 460px;
  overflow-x: scroll;
  gap: 37px;
  margin-bottom: 10px;
}

.card.card-first {
  width: 363px;
  height: 446px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-left: 52px;
  margin-right: 0px;
  box-shadow: rgba(0, 0, 0, 0.147) 4px 4px 12px;
  margin-bottom: 0;
}

.card {
  width: 363px;
  height: 446px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-right: 0px;
  box-shadow: rgba(0, 0, 0, 0.147) 4px 4px 12px;
  margin-bottom: 0;
}

.img-card {
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.147) 4px 4px 12px;
}

.title-box {
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 14px;
  margin-bottom: 0px;
}

.bottom-stars {
  display: flex;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.bottom-p {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.box-button {
  min-width: 179px;
  max-width: 179px;
  background-color: #e3170a;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 15px;
  margin-top: 5px;
  margin-left: 165px;
  max-height: 44px;
}

@media (min-width: 1280px) {
  .scrollbar {
    justify-content: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    gap: 42px;
    margin-bottom: 70px;
  }

  .card.card-first {
    margin-left: 0px;
  }

  .title-scrollbar {
    margin-bottom: 87px;
  }

  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* -- SEC-BUTTONS -- */
.container-buttons-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 67px;
}

@media (min-width: 900px) {
  .container-buttons-two {
    flex-direction: row;
    margin-bottom: 87px;
  }

  .btn-online {
    display: flex;
  }

  .link-online {
    display: none;
  }
}

/* -- SEC-STORY -- */
.container-story {
  height: 500px;
  background-color: #011827;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-story {
  height: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 632px;
  font-size: 28px;
  font-weight: 400;
  color: white;
  padding-top: 50px;
  margin-bottom: 25px;
}

.button-story {
  width: 308px;
  min-height: 66px;
  margin-top: 14px;
  margin-bottom: 91px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #8acfe5;
  background: #011827;
  border-radius: 4px;
  border: 2px #8acfe5;
  border-style: solid;
}

@media (min-width: 480px) {
  .text-story {
    width: 439px;
  }
}

@media (min-width: 900px) {
  .text-story {
    width: 639px;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .button-story {
    margin-bottom: 142px;
  }
}

/* -- PLAY -- */
.play-container-one {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

.play-container-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 78px;
}

.img-play-one {
  
  object-fit: cover;
}

.img-play-two {
  
  object-fit: cover;
}

.content-play-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.content-play-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.play-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1px;
}

.play-p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 49px;
}

.button-see {
  width: 308px;
  height: 66px;
  background: #e3170a;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  border: none;
}

.button-book {
  width: 308px;
  height: 66px;
  background: #e3170a;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  border: none;
}
@media (min-width: 700px) {
  .img-play-one {
   max-height: 489px;
  }

  .img-play-two {
    max-height: 489px;

  }
}
@media screen and (min-width: 900px) {
  .play-container-one {
    flex-direction: row;
    margin-bottom: 0px;
  }
  
  .play-container-two {
    flex-direction: row-reverse;
    margin-bottom: 116px;
  }

  .content-play-one {
    padding-top: 30px;
    padding-right: 100px;
    width: 50vw;
    padding-left: 62px;
    padding-bottom: 4rem;
  }

  .content-play-two {
    padding-top: 30px;
    padding-right: 100px;
    width: 50%;
    padding-left: 62px;
    padding-bottom: 4rem;
  }

  .img-play-one {
    max-height: 1000px;
    width: 50%;
    max-width: 50%;
  }

  .img-play-two {
    max-height: 1000px;
    width: 50%;
    max-width: 50%;

  }

}

@media screen and (min-width: 1280px) {
  .play-container-one {
    
    max-height: 700px;
    flex-direction: row;
    margin-bottom: 0px;
  }
  
  .play-container-two {
    max-height: 700px;
    flex-direction: row-reverse;
    margin-bottom: 183px;
    
  }

  .content-play-one {
    padding-top: 60px;
    padding-left: 116px;
    padding-right: 108px;
    padding-bottom: 4rem;
  }
  .content-play-two {
    padding-top: 60px;
    padding-left: 108px;
    padding-right: 116px;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 1600px) { 
  .sec-play {
    margin: auto;
    width: 90%;
  }

  .sec-story {
    margin: auto;
    width: 90%;
  }
}

@media screen and (min-width: 1920px) { 
  .sec-play {
    margin: auto;
    width: 75%;
  }

  .sec-story {
    margin: auto;
    width: 75%;
  }
}

/* -- FOOTER -- */
.footer {
  height: fit-content;
  background-color: #011827;
  display: flex;
  justify-content: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 22px;
  margin-top: 64px;
}

.footer-title-box {
  color: white;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer-title-p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-right: 20px;
}

.footer-link-box {
  display: flex;
  flex-direction: column;
}

.footer-site-map {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.footer-follow-us {
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-bottom: 80px;
}

.footer-link-title {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.link-break {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.footer-links {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

@media (min-width: 900px) {
  .footer {
    flex-direction: row;
    height: 467px;
  }

  .container-footer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 146px;
    margin-right: 200px;
    margin-bottom: 174px;
    margin-left: 180px;
  }

  .footer-title-p {
    margin-right: 0px;
  }

  .footer-title-box {
    width: 416px;
  }

  .footer-link-box {
    flex-direction: row;
  }

  .footer-site-map {
    width: 200px;
    margin-right: 20px;
    margin-left: 100px;
  }
}

@media (min-width: 1280px) {
  .footer-site-map {
    margin-right: 40px;
  }

  .container-footer {
    margin-left: 108px;
  }
}
@media (min-width: 1600px) {
  .container-footer {
    margin-left: 100px;
    margin-right: 200px;
  }
}

@media (min-width: 1710px) {
  .container-footer {
    margin-left: 200px;
    margin-right: 300px;
  }
}

@media (min-width: 1920px) {
  .container-footer {
    margin-left: 300px;
    margin-right: 400px;
  }
}



